<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiechic.glide.qqgroupicon">

    <application android:allowBackup="true">
        <meta-data
            android:name="com.jiechic.glide.qqgroupicon.QqGroupIconModule"
            android:value="GlideModule" />
    </application>

</manifest>
